<!-- Aggregated View -->
<div class="row">
  <div class="col-12">
    <h2>Summary Statistics</h2>
    <h6>Select Grouping Variable:</h6>
  </div>
</div>

<!-- Buttons -->
<div class="row">
  <div class="col-2">
    <button id="selectByGdpPcGroup5" onclick="initBasicGroupingByGdpPcGroup5()" type="button" class="btn btn-info btn-block">GDP</button>
  </div>
  <div class="col-2">
    <button id="selectByYear" onclick="initBasicGroupingByYear()" type="button" class="btn btn-info btn-block">Year</button>
  </div>
  <div class="col-2">
    <button id="selectByAge" onclick="initBasicGroupingByAge()" type="button" class="btn btn-info btn-block">Age</button>
  </div>
  <div class="col-2">
    <button id="selectBySex" onclick="initBasicGroupingBySex()" type="button" class="btn btn-info btn-block">Sex</button>
  </div>
  <div class="col-2">
    <button id="selectBySex" onclick="initBasicGroupingByAgeSex()" type="button" class="btn btn-info btn-block">Age-Sex</button>
  </div>
</div>

<!-- Main Figure -->
<div class="row">
    <div class="col-12">
      <div id='fig-basic-grouping'>
      </div>
    </div>
</div>
