<div class="row">
  <div class="col-12">
    <h2>Country-wide Summary View</h2>
  </div>
</div>
<div class="row">

  <!-- choropleth for selection-->
  <div class="col-5">
    <!-- dropdown list -->
    <div class="row">
      <div class="col-6">
        <h6>Select Country</h6>
        <h6>(by map or list)</h6>
        <select id="countryDropdown" onchange="countryDropdownOnchange()"></select>
      </div>
      <div class="col-6">
        <br>
        <h6>Map colorized by</h6>
        <select id="colorizeDropdown" onchange="updateWorldmapCountries()">
          <option value="srate" selected="selected">Suicide Rate</option>
          <option value="gdpPc">GDP per Capita</option>
        </select>
      </div>
    </div>

    <!-- World Map -->
    <div id="countryMap"></div>
  </div>

  <!-- view region -->
  <div class="col-7">
    <!-- buttons -->
    <div class="row">
      <div class="col-2">
        <button id="selectByNone" onclick="initCountryByNone()" type="button" class="btn btn-info btn-block">Overall</button>
      </div>
      <div class="col-3">
        <button id="selectByAgeSex" onclick="initCountryByAgeSex()" type="button" class="btn btn-info btn-block">Age-Sex</button>
      </div>
      <div class="col-2">
        <button id="selectByYear" onclick="initCountryByYear()" type="button" class="btn btn-info btn-block">Year</button>
      </div>
      <div class="col-2">
        <button id="selectByAge" onclick="initCountryByAge()" type="button" class="btn btn-info btn-block">Age</button>
      </div>
      <div class="col-2">
        <button id="selectBySex" onclick="initCountryBySex()" type="button" class="btn btn-info btn-block">Sex</button>
      </div>
    </div>

    <!-- Figure -->
    <div id="fig-countryDetails"></div>

  </div>
</div>
