<div class="row">
  <div class="col-6" style="text-align: center">
    <h5 class="hw">2IMV20 Visualization Homework 2 (2018-2019)</h5>
    <h5 class="hw">Group 27: Chuan-Bin Huang 1342037, Huilin Zhu 1378627</h5>
    <p>Suggested Resolution: 1366*768 or higher | Developed on Chromium v73</p>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <h3 class="hw">Introduction</h3>
    <p>Suicide has long been a social problem as it affects people around the world. No matter which country, age group, economical status, or even social background we look at, tragedies of suicide cases never cease to exist. In this project, several visualization techniques is used to explore the suicide rate dataset.</p>
    <p>The main dataset is the <a href="https://www.kaggle.com/russellyates88/suicide-rates-overview-1985-to-2016" target="_blank">WHO suicide rate data from 1990 to 2013</a>. An auxiliary dataset of <a href="http://apps.who.int/gho/data/node.main.A1022?lang=en" target="_blank">alcoholic beverage consumption</a> is also used. Data is preprocessed with d3.js and alasql.js, plotted with plotly.js, tabulator.js. The main page is built with bootstrap.js. The source code and project documentation is available on <a href="https://gitlab.com/cbhuang/tue-vis-hw2" target="_blank">Chuan-Bin Huang's GitLab page</a>.</p>
  </div>
</div>
