<!-- Aggregated View -->
<div class="row">
  <div class="col-12">
    <h2>Time Series View</h2>
    <h6>Select Grouping Variable:</h6>
  </div>
</div>

<!-- Buttons -->
<div class="row">
  <div class="col-2">
    <button id="selectByAgeSex" onclick="initTimeSeriesBySexYear()" type="button" class="btn btn-info btn-block">Sex</button>
  </div>
  <div class="col-2">
    <button id="selectByYearSex" onclick="initTimeSeriesByAgeYear()" type="button" class="btn btn-info btn-block">Age</button>
  </div>
  <div class="col-2">
    <button id="selectByYearSex" onclick="initTimeSeriesByGdpPcGroup5Year()" type="button" class="btn btn-info btn-block">GDP Group</button>
  </div>
</div>

<!-- Main Figure -->
<div class="row">
    <div class="col-12">
      <div id='fig-basic-grouping'>
      </div>
    </div>
</div>
