<!-- Aggregated View -->
<div class="row">
  <div class="col-12">
    <h2>Summarized Choropleth View</h2>
    <h6>Select Grouping Variable:</h6>
  </div>
</div>

<!-- Buttons -->
<div class="row">
  <div class="col-2">
    <button id="selectByNone" onclick="initWorldmapByNone()" type="button" class="btn btn-info btn-block">Overall</button>
  </div>
  <div class="col-2">
    <button id="selectByYear" onclick="initWorldmapByYear()" type="button" class="btn btn-info btn-block">Year</button>
  </div>
  <div class="col-2">
    <button id="selectByAge" onclick="initWorldmapByAge()" type="button" class="btn btn-info btn-block">Age</button>
  </div>
  <div class="col-2">
    <button id="selectBySex" onclick="initWorldmapBySex()" type="button" class="btn btn-info btn-block">Sex</button>
  </div>
  <div class="col-3">
    <button id="selectByGeneration" onclick="initWorldmapByGeneration()" type="button" class="btn btn-info btn-block">Generation</button>
  </div>
</div>

<!-- Dropdowns -->
<div class="row">
  <div class="col-2">
    <p id='noneDropdown' style="text-align: center;">(No Subgroups)</p>
  </div>
  <div class="col-2">
    <select id='yearDropdown' onchange='updateWorldmapByYear()'>
    </select>
  </div>
  <div class="col-2">
    <select id='ageDropdown' onchange='updateWorldmapByAge()'>
    </select>
  </div>
  <div class="col-2">
    <select id='sexDropdown' onchange='updateWorldmapBySex()'>
    </select>
  </div>
  <div class="col-3">
    <select id='generationDropdown' onchange='updateWorldmapByGeneration()'>
    </select>
  </div>
</div>

<!-- Main Figure -->
<div class="row">
    <div class="col-12">
      <div id='fig-worldmap'>
      </div>
    </div>
</div>
